In [69]:
import numpy as np
import pandas as pd

In [70]:
my_data = pd.read_csv('house_price_dataset_original_v2_with_categorical_features.csv')

In [71]:
my_data['land_size_sqm'] = my_data['land_size_sqm'].map(lambda x: x.rstrip('sqm')).astype('float')

In [72]:
my_data['house_size_sqm'] = my_data['house_size_sqm'].map(lambda x: x.rstrip('sqm')).astype('float')

In [73]:
my_data['distance_to_school'] = my_data['distance_to_school'].map(lambda x: x.rstrip('km')).astype('float')

In [74]:
my_data['distance_to_supermarket'] = my_data['distance_to_supermarket'].map(lambda x: x.rstrip('km')).astype('float')

In [75]:
my_data['house_age'] = my_data['house_age'].map(lambda x: x.rstrip('Years')).astype('float')

In [80]:
my_data

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school,wall_fence,house_age,water_front,distance_to_supermarket,crime_rate_index,room_size,property_value
0,201.0,177.0,3,1,No,Yes,Yes,No,3.3,Yes,10.0,No,6.8,0.90,small,165432
1,196.0,182.0,4,3,Yes,Yes,No,Yes,1.2,Yes,11.0,No,4.1,1.42,medium,187043
2,198.0,182.0,4,4,Yes,Yes,No,Yes,5.9,No,20.0,No,2.1,4.12,medium,148658
3,178.0,166.0,2,3,No,Yes,No,No,5.9,No,5.0,No,0.7,4.36,small,123785
4,183.0,165.0,3,1,Yes,Yes,No,No,3.8,Yes,8.0,No,0.7,0.42,small,156470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4949,297.0,261.0,4,4,Yes,Yes,Yes,Yes,2.9,Yes,20.0,No,4.1,3.99,large,235882
4950,302.0,282.0,4,2,Yes,Yes,Yes,Yes,3.8,Yes,12.0,Yes,4.8,2.09,large,290995
4951,153.0,147.0,3,4,Yes,Yes,No,No,3.3,Yes,7.0,No,4.7,3.98,extra_large,106428
4952,180.0,158.0,2,1,No,Yes,No,Yes,2.2,No,1.0,No,3.4,3.75,large,107579
4953,695.0,619.0,8,6,Yes,Yes,Yes,Yes,0.4,Yes,5.0,No,0.4,4.64,large,537980

In [81]:
my_data.large_living_room = my_data.large_living_room.map(dict(Yes=1, No=0))

In [82]:
my_data.parking_space = my_data.parking_space.map(dict(Yes=1, No=0))

In [83]:
my_data.swimming_pool = my_data.swimming_pool.map(dict(Yes=1, No=0))

In [84]:
my_data.wall_fence = my_data.wall_fence.map(dict(Yes=1, No=0))
my_data.water_front = my_data.water_front.map(dict(Yes=1, No=0))

In [85]:
my_data.front_garden = my_data.front_garden.map(dict(Yes=1, No=0))

In [86]:
my_data['room_size'].unique()

array(['small', 'medium', 'large', 'extra_large'], dtype=object)

In [87]:
my_data.room_size = my_data.room_size.map(dict(small=0, medium=1,large=2,extra_large=3))

In [89]:
my_data

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school,wall_fence,house_age,water_front,distance_to_supermarket,crime_rate_index,room_size,property_value
0,201.0,177.0,3,1,0,1,1,0,3.3,1,10.0,0,6.8,0.90,0,165432
1,196.0,182.0,4,3,1,1,0,1,1.2,1,11.0,0,4.1,1.42,1,187043
2,198.0,182.0,4,4,1,1,0,1,5.9,0,20.0,0,2.1,4.12,1,148658
3,178.0,166.0,2,3,0,1,0,0,5.9,0,5.0,0,0.7,4.36,0,123785
4,183.0,165.0,3,1,1,1,0,0,3.8,1,8.0,0,0.7,0.42,0,156470
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4949,297.0,261.0,4,4,1,1,1,1,2.9,1,20.0,0,4.1,3.99,2,235882
4950,302.0,282.0,4,2,1,1,1,1,3.8,1,12.0,1,4.8,2.09,2,290995
4951,153.0,147.0,3,4,1,1,0,0,3.3,1,7.0,0,4.7,3.98,3,106428
4952,180.0,158.0,2,1,0,1,0,1,2.2,0,1.0,0,3.4,3.75,2,107579
4953,695.0,619.0,8,6,1,1,1,1,0.4,1,5.0,0,0.4,4.64,2,537980

In [92]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

In [93]:
X = my_data.iloc[:,0:-1]
Y = my_data.iloc[:,[-1]]
#train test split
x_train,x_test,y_train,y_test = train_test_split(X,Y)

In [94]:
#creating multivariate linear model
model = LinearRegression()
model.fit(x_train.values,y_train.values)
prediction = model.predict(x_test.values)

In [95]:
#score
print(f'Train score {model.score(x_train,y_train)}')
print(f'Test score {model.score(x_test,y_test)}')

Train score 0.9881837137574142
Test score 0.9879473957016544